#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.e2e
*.svclog
*.obj
*.exe
*.xap
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tmp
*.metaproj
*.msi
log.txt
log.txt.*
[Bb]in
[Bb]in/[Dd]ebug*/
*.lib
*.sbr
*.dbmdl
*.dbproj.schemaview
*.orig
.merge_file_*
obj/
[Bb]in/[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/Build/
/Keepers/
/packages/
log.*
InstallUtil.InstallLog
MSSCCPRJ.SCC

